<div class="new-review">
  <div id="new-review-img">
    <div class="header-order">
      <h1>Leave a review for <i id="technician-name"><%= @order.services_technician.user.name %></i></h1>
    </div>
  </div>
  <div class="review-form">
    <%= simple_form_for [@order, @review] do |f| %>
      <%= f.input :rating, :collection => %w[1 2 3 4 5] %>
      <%= f.input :comment %>
      <div class="d-flex justify-content-between">
        <%= f.submit "Submit review", class: "btn btn-yellow" %>
        <%= link_to "Back to Home", root_path, class: "btn-blue"  %>
      </div>
    <% end %>
  </div>
</div>
